.home-left, .home-right{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home{
    min-height: 100vh;
    overflow: hidden;
    background-color: #183D3D;
}
*{
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.home-left h1{
    font-size: 3em;
}
.home-left{
    padding: 30px;
}

.home-right{
    position: relative;
    min-height: 100vh;
    /* clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);  */
    /* clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);  */
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%); 
}
 .home-right::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: #fff;
}
.students{
    position: absolute; /* Establish a positioning context */
  width: 100%; /* Optionally, set a specific width for the container */
 height: 100%;
 /* z-index: 3; */
}
/* .students:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -3;
    left: -20%;
} */
.students img{
    border-radius: 10px;
    margin: 10px;
    animation: scale 3s ease-in-out infinite alternate;
}
@keyframes scale {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(10);
    }
  }
.home-left button{
    border:none;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #7cff98;
    border-radius: 10px;
}
.carousel-box{
    background-color: #fff;
    min-height: 80vh;
    border-radius: 30px;
    color: #000;
    padding: 30px;
    
}
.btn-container{
    display: flex;
    gap: 20px;
    text-align: left;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
}
.boldtext{
    font-size: 3.5em;
    display: block;
}
.normaltext{
    font-size: 2em;
}
.home-text{
    max-width: 100%;
    text-align: left;
    width: 100%;
    color: #fff;
}
.points{
    width: 100%;
    text-align: left;
    margin-top: 30px;
}
.points ul{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    list-style: none;
}
.points ul li:nth-child(4){
    min-width: 50%;
}
@media (max-width:768px){
    .points{
        grid-template-columns: repeat(1, 1fr);
    }
}
.points ul li{
    padding: 10px;
    border-radius: 100px;
    border: 2px solid #000;
}


 /* media */
@media (max-width:528px){
    .home-left{
        padding: 0px;
        min-height: fit-content;
        height: fit-content;
    }
    .home .row{
        padding: 0px;
    }
    .home-left .boldtext{
        font-size: 2em;
    }
    .home-left .normaltext{
        font-size: 1.5em;
    }
    .points ul li{
        padding: 2px;
        font-size: 1em;
        display: none;
    }
    .home-right{
        display: none;
    }
    .home{
        padding: 10px;
    }
    .carousel-box{
        border-radius: 0px;
        background: transparent;
        padding: 20px 5px;
        color: #fff;
        max-height: fit-content;
    }
    .btn-container button{
        font-size: 1em;
        padding: 10px 5px;
        width: 100%;
    }
}